{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script data-require="angular.js@1.3.1" data-semver="1.3.1" src="//code.angularjs.org/1.3.1/angular.js"></script>
    <script data-require="ui-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />
    <script src="{% static 'lib/smart-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/ng-file-upload-shim.min.js' %}" type="text/javascript"></script> <!-- for no html5 browsers support -->
    <script src="{% static 'lib/ng-file-upload.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/item_controller.js' %}" type="text/javascript"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <img class="logo" src="//cdn.shopify.com/s/files/1/1231/0842/files/checkout_logo_3_125x.png?v=1471110528">
        <h1>Etsy eCommerce</h1>
        <br/>
        <p>
            Etsy is an online eCommerce store for handmade craft products.<br/>
            We want to support the following currencies.
            <ul>
                <li>GBP</li>
                <li>CAD</li>
                <li>USD</li>
                <li>EUR</li>
            </ul>
        </p>
        <p>
            For more details of this assessment please refer: <a href="https://bitbucket.org/austinjung/wiivv">Wiivv assessment</a>
        </p>

        <hr>

        <div id="content" ng-app='MyApp' >
            {% block content %}
            {{ content }}
            {% endblock %}
            <br class="clear" />
        </div>
    </div>

</body>
</html>