{% extends "base.html" %}
{% block title %}Etsy eCommerce Products{% endblock %}
{% block content %}
<div ng-controller='ItemController as mc' >
    <div class="row">
        {% verbatim %}
        <div class="col-md-8 clm-sm-12 pull-right">
            <label>
                <input type="checkbox" ng-model="mc.usd" ng-click="mc.changeCurrency('usd')">
                USD
            </label>&nbsp;&nbsp;
            <label>
                <input type="checkbox" ng-model="mc.cad" ng-click="mc.changeCurrency('cad')">
                CAD
            </label>&nbsp;&nbsp;
            <label>
                <input type="checkbox" ng-model="mc.gbp" ng-click="mc.changeCurrency('gbp')">
                GBP
            </label>&nbsp;&nbsp;
            <label>
                <input type="checkbox" ng-model="mc.eur" ng-click="mc.changeCurrency('eur')">
                EUR
            </label>
        </div>
        <div class="col-md-8 clm-sm-12 ng-cloak">
            <table class="table" st-pipe="mc.callServer" st-table="mc.displayed">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th st-sort="usd_price" st-skip-natural="true">Price</th>
                    <th st-sort="rating" st-sort-default="reverse" st-skip-natural="true">Rating</th>
                </tr>
                <tr>
                    <th colspan="4"><input st-search="title" placeholder="search for title" class="input-sm form-control" type="search"/></th>
                </tr>
                </thead>
                <tbody ng-show="!mc.isLoading">
                <tr ng-repeat="row in mc.displayed">
                    <td>
                        <div class="thumbnail">
                            <img ng-src="{{row.thumbnail}}" />
                            <div class="caption">
                                {{row.title}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <ul><li ng-repeat="desc in row.description">{{ desc }}</li></ul>
                    </td>
                    <td ng-if="mc.usd">{{row.usd_price}}</td>
                    <td ng-if="mc.cad">{{row.cad_price}}</td>
                    <td ng-if="mc.gbp">{{row.gbp_price}}</td>
                    <td ng-if="mc.eur">{{row.eur_price}}</td>
                    <td>{{row.rating}}</td>
                </tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                <tr>
                    <td colspan="4" class="text-center">Loading ... </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        {% endverbatim %}
    </div>
</div>
{% endblock %}